Repository runejs/server, pull requests merged in 2021-04, with the labels that each got.

#286 Updating runejs + typescript dependencies and adding runejs/filestore
  cache/file-names.properties
  package-lock.json
  package.json
  src/game-engine/config/data-dump.ts
  src/game-engine/config/index.ts
  src/game-engine/config/npc-config.ts
  src/game-engine/game-server.ts
  src/game-engine/net/inbound-packets.ts
  src/game-engine/net/inbound-packets/item-on-object-packet.js
  src/game-engine/net/inbound-packets/object-interaction-packet.js
  src/game-engine/net/outbound-packets.ts
  src/game-engine/world/action/index.ts
  src/game-engine/world/action/item-on-object.action.ts
  src/game-engine/world/action/object-interaction.action.ts
  src/game-engine/world/actor/dialogue.ts
  src/game-engine/world/actor/npc/npc.ts
  src/game-engine/world/actor/pathfinding.ts
  src/game-engine/world/actor/player/dialogue-action.ts
  src/game-engine/world/actor/player/player.ts
  src/game-engine/world/config/scenery-spawns.ts
  src/game-engine/world/index.ts
  src/game-engine/world/instances.ts
  src/game-engine/world/items/item-container.ts
  src/game-engine/world/items/item.ts
  src/game-engine/world/items/world-item.ts
  src/game-engine/world/map/chunk-manager.ts
  src/game-engine/world/map/chunk.ts
  src/game-engine/world/map/collision-map.ts
  src/game-engine/world/map/landscape-object.ts
  src/game-engine/world/map/location-object.ts
  src/game-engine/world/position.ts
  src/game-engine/world/skill-util/harvest-skill.ts
  src/game-engine/world/task.ts
  src/plugins/commands/give-item-command.plugin.ts
  src/plugins/commands/spawn-scenery-command.plugin.ts
  src/plugins/items/buckets/fill-container.plugin.ts
  src/plugins/objects/cows/cow.plugin.ts
  src/plugins/objects/doors/door.plugin.ts
  src/plugins/objects/doors/double-door.plugin.ts
  src/plugins/objects/doors/gate.plugin.ts
  src/plugins/objects/ladders/ladder.plugin.ts
  src/plugins/objects/mill/flour-bin.plugin.ts
  src/plugins/objects/mill/hopper-controls.plugin.ts
  src/plugins/objects/pickables/pickables.plugin.ts
  src/plugins/skills/crafting/spinning-wheel.plugin.ts
  src/plugins/skills/firemaking.plugin.ts
  src/plugins/skills/mining/prospecting.plugin.ts
  src/plugins/skills/runecrafting/runecrafting-altar.plugin.ts
  src/plugins/skills/runecrafting/runecrafting-crafting.plugin.ts
  src/plugins/skills/smithing/forging-plugin.ts
  src/plugins/skills/smithing/smelting.plugin.ts
Labels: enhancement, work in progress

#298 Check if NPCs are morphed/affected by varbits
  package-lock.json
  package.json
  src/game-engine/net/inbound-packets/item-on-npc-packet.ts
  src/game-engine/net/inbound-packets/item-on-object-packet.js
  src/game-engine/net/inbound-packets/npc-interaction-packet.ts
  src/game-engine/net/inbound-packets/object-interaction-packet.js
  src/game-engine/util/varbits.ts
  src/game-engine/world/action/item-on-npc.action.ts
  src/game-engine/world/action/npc-interaction.action.ts
  src/game-engine/world/actor/npc/npc.ts
  src/game-engine/world/actor/player/player.ts
Labels: enhancement, game engine

#273 1.0 Action Queue/Strength System + Action Hook Tasks
  src/game-engine/game-server.ts
  src/game-engine/world/action/button.action.ts
  src/game-engine/world/action/equipment-change.action.ts
  src/game-engine/world/action/hooks/index.ts
  src/game-engine/world/action/hooks/task.ts
  src/game-engine/world/action/index.ts
  src/game-engine/world/action/item-interaction.action.ts
  src/game-engine/world/action/item-on-item.action.ts
  src/game-engine/world/action/item-on-npc.action.ts
  src/game-engine/world/action/item-on-object.action.ts
  src/game-engine/world/action/item-on-player.action.ts
  src/game-engine/world/action/item-swap.action.ts
  src/game-engine/world/action/move-item.action.ts
  src/game-engine/world/action/npc-init.action.ts
  src/game-engine/world/action/npc-interaction.action.ts
  src/game-engine/world/action/object-interaction.action.ts
  src/game-engine/world/action/player-command.action.ts
  src/game-engine/world/action/player-init.action.ts
  src/game-engine/world/action/player-interaction.action.ts
  src/game-engine/world/action/region-change.action.ts
  src/game-engine/world/action/spawned-item-interaction.action.ts
  src/game-engine/world/action/widget-interaction.action.ts
  src/game-engine/world/actor/actor.ts
  src/game-engine/world/actor/dialogue.ts
  src/game-engine/world/actor/player/interface-state.ts
  src/game-engine/world/actor/player/player.ts
  src/game-engine/world/actor/player/sync/actor-sync.ts
  src/game-engine/world/actor/player/sync/npc-sync-task.ts
  src/game-engine/world/actor/player/sync/player-sync-task.ts
  src/game-engine/world/actor/walking-queue.ts
  src/game-engine/world/index.ts
  src/game-engine/world/position.ts
  src/game-engine/world/task.ts
  src/plugins/dialogue/dialogue-option.plugin.ts
  src/plugins/skills/woodcutting/woodcutting.plugin.ts
Labels: documentation, game engine, new feature, work in progress
